/*Body*/
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}


/*Section*/

.section-yk{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.words{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.top-corner-right{
    width: 300px;
    display: flex;
    margin-top: 20px;
}

.words-2{
    padding: 20px;
}

.middle{
    background-color: rgb(117, 202, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    height: auto;
}


.ayuda{
    padding: 0 40px 0 40px;
    background-color: blue;
    margin-left: 100px;
    color: white;
    border-radius: 10px;
    display: flex;
}

.imagen{
    margin-top: 20px;
    display: flex;
    right: 10px;
}

/*Palabras*/

.top-corner-right p{
    margin: 0px;
    width: 190px;
}

.words-2 h2{
    font-size: clamp(28px, 5vw, 50px);
    width: 100%;
    max-width: 600px;
}

.words-2 p{
    font-size: clamp(14px, 2vw, 18px);
    width: 100%;
    max-width: 600px;
}

.content-content h2{
    margin: 10px 0 5px 0;
}

/*botones*/

button{
    font-size: 1rem;
    padding: 12px 30px;
    border: solid blue;
    background-color: rgb(1, 94, 255, 0.6);
    border-radius: 10px;
    color: white;
}

/*Imagen*/

.imagen img{
    width: 1000px;
}

/*Gallery*/

.gallery{
    display: flex;
    max-width: 2000px;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.content{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    max-height: 300px;
    padding: 20px;
    border: solid blue 5px;
}

.content img {
    width: 50px;
}

.content-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.content-content img{
    width: 70px;
    margin-top: 10px;
}

.content-content :hover{

}

.content-content p{
    max-width: 250px;
}

/*Bottom*/

.bottom{
    background-color: rgb(117, 202, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    gap: 180px;
    flex-wrap: wrap;
}

.email-number{
    display: flex;
    gap: 10px;
}

.email-number p{
    margin: 0px;
    font-size: 30px;
}

.input-bonito{
    padding: 15px 55px;
    width: 100%;
    max-width: 400px;

    border: none;
    border-radius: 30px;

    background-color: #f1f5f9;
    font-size: 16px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    outline: none;
    transition: all 0.3s ease;
}

/* efecto al hacer click */
.input-bonito:focus{
    background-color: white;
    box-shadow: 0 0 0 2px #3ca3fc, 0 6px 15px rgba(0,0,0,0.15);
}

/* placeholder más suave */
.input-bonito::placeholder{
    color: #888;
}